<h1>Dashboard</h1>
<form method="post" action="/api/posts">
    <label for="title">Title: </label>
    <input type="text" name="title" required>

    <label for="body">Body: </label>
    <textarea name="body" rows="10" cols="30" required></textarea>
    <input type="submit" value="Post">
</form>

{{#each posts}}
<div>
    <h5>{{ title }}</h5>
    <p>{{ body }}</p>
    <span>Posted by {{ username }} on {{ createdAt }}</span>
    <button class="delete-button" data-post-id="{{ id }}">❌</button>
</div>
{{/each}}

<script src="/js/delete-post.js"></script>