<h1 class="mt-5">Dashboard</h1>
<form method="post" action="/api/posts">
    <div class="mb-3">
        <label class="form-label" for="title">Title </label>
        <input class="form-control" type="text" name="title" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="body">Body </label>
        <textarea class="form-control" name="body" rows="3" required></textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="Post">
</form>

<div class="mt-5">
    <h3>My Posts</h3>
    {{#each posts}}
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/posts/{{ id }}">{{ title }}</a>
            </h5>
            <p>{{ body }}</p>

        </div>
        <div class="card-footer">
            <span>Posted by {{ username }} on {{ createdAt }}</span>
            <button class="btn btn-danger delete-button" data-post-id="{{ id }}">Delete</button>
        </div>
    </div>
    {{/each}}
</div>


<script src="/js/delete-post.js"></script>