<h5>{{ title }}</h5>
<p>{{ body }}</p>
<span>Posted by {{ username }} on {{ date }}</span>
{{#if shouldBeAbleToDelete}}
<button id="delete-button" data-post-id="{{ id }}">❌</button>
{{/if}}
<form method="post" action="/api/comments">
    <label for="comment">Comment: </label>
    <textarea name="comment" rows="10" cols="30" required></textarea>
    <input type="hidden" name="postId" value="{{ id }}" />
    <input type="submit" value="Add Comment">
</form>

{{#each comments}}
<div>
    {{ text }}
    <h5>Posted by: {{ user.username }} on {{ createdAt }}</h5>
</div>
{{/each}}

<script src="/js/delete-post.js"></script>